<!-- 
<section class="register w-100 ">
    <div class="main mx-auto">
        <div class="basmaImage  mx-auto">
            <img src="../../../assets/FarahAi.png" alt="" class="imgBasma">
        </div>
        <div class="formContent py-2">
            <h1 class="text-white title w-100 px-3">
                Hi! I’m Basma,
                <br>
                your AI Digital Assistant.
            </h1>
            <div class="containerForm bg-body mx-4 px-4 rounded-3">
                <div class="d-flex flex-column gap-4 m-3 p-4 ">
                    <span class="formTitle">
                        Please fill in the details<br>
                        below to start your session
                    </span>
                    <form [formGroup]="registerGroup" (ngSubmit)="handle()">
                        <div class="mb-2 w-auto">
                            <input type="text" class="form-control mt-3" formControlName="username" id="name"
                                placeholder="*Name" />
                        </div>
                        <div class="error "
                            *ngIf=" registerGroup.get('username')?.errors &&registerGroup.get('username')?.touched ">
                            <p *ngIf="registerGroup.get('username')?.getError('required')" class="m-0">
                                <i class="fa-solid fa-triangle-exclamation ps-1"></i>
                                Name Required
                            </p>
                            <p *ngIf="registerGroup.get('username')?.getError('minlength')">
                                <i class="fa-solid fa-triangle-exclamation ps-1"></i>
                                Name Min length
                            </p>
                            <p *ngIf="registerGroup.get('username')?.getError('maxlength')">
                                <i class="fa-solid fa-triangle-exclamation ps-1"></i>
                                Name Max length
                            </p>
                            <p *ngIf="registerGroup.get('username')?.getError('pattern')" class="error01">
                                <i class="fa-solid fa-triangle-exclamation ps-1"></i>
                                name may contain only letters, numbers, and ./+/-/_
                                characters.
                            </p>
                        </div>
                        <div class="mb-2 ">
                            <input type="email" class="form-control mt-3" formControlName="email" id="email"
                                placeholder="*Email" />
                        </div>
                        <div class="error  "
                            *ngIf=" registerGroup.get('email')?.errors &&registerGroup.get('email')?.touched">
                            <p *ngIf="registerGroup.get('email')?.getError('required')" class="m-0 my-1">
                                <i class="fa-solid fa-triangle-exclamation ps-1"></i>
                                email Required
                            </p>

                            <p *ngIf="registerGroup.get('email')?.getError('email')" class="m-0 my-1">
                                <i class="fa-solid fa-triangle-exclamation ps-1"></i>

                                invalid email
                            </p>
                        </div>
                        <div class="mb-2">
                            <input type="password" class="form-control mt-3 pass " formControlName="password"
                                id="password" placeholder="*Password" />
                        </div>
                        <div class="error "
                            *ngIf="registerGroup.get('password')?.errors && registerGroup.get('password')?.touched">
                            <p *ngIf="registerGroup.get('password')?.getError('required')" class="m-0 my-1">
                                <i class="fa-solid fa-triangle-exclamation ps-1"></i>
                                password Required
                            </p>

                            <p *ngIf="registerGroup.get('password')?.getError('pattern')" class="error01">
                                <i class="fa-solid fa-triangle-exclamation ps-1"></i> password must start with upperCase
                                then from 6 to 10
                            </p>
                        </div>
                        <div class="d-flex justify-content-between mt-3">

                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-globe mx-2"></i>
                                <span>Language</span>
                            </div>

                            <select class=" w-50 form-select  rounded-3">
                                <option>English</option>
                                <option>Arabic</option>
                            </select>
                        </div>
                        <div class="form-check p-0 d-flex align-items-center ">
                            <input type="checkbox" class="p-0 mx-2 form-check-input" />
                            <label>
                                I confirm that I have read and agreed to the
                                <br>
                                <a href="#">Terms and Conditions</a>
                            </label>
                        </div>
                        <button [disabled]="registerGroup.invalid"
                            class="btn-main mx-auto d-block  px-5 rounded-5 py-2 mt-2 w-100 btnForm text-white">
                            REGISTER NOW <span *ngIf="load"><i class="fas fa-spin fa-spinner"></i></span>
                        </button>
                        <p *ngIf="err" class="p-1 w-50 text-center mb-0 mx-auto alert alert-danger">
                            {{err}}
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->